body
{
	background-color: white;
	margin-top: 0px;
}

.websitename
{
	display: inline-block;
	border: 1px;
	font-size: 60px;
	margin-top: 10px;
	margin-left: 10px;
	padding: 10px;
	text-align: center;
	border-width: 3px;
	border-style: solid;
	border-color: black;
	width: 30%;
	max-height: 20%;
	background-color: maroon;
	color: white;
}
.Author{
	border: 1px;
	font-size: 90px;
	margin-top: 0px;
	padding: 10px;
	width: 60%;
	max-height: 20%;
	text-align: right;
	font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
float: right;
color: maroon;
}

.options
{
	width: 35%;
	margin-left: 0px;
}

button
{
	border-radius: 6px;
	background-color: maroon;
	margin: 10px;
	font-size: 20px;
	padding: 10px;
	text-align: center;
	display: inline-block;
	font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
}

a{
	color: white;
}
a:link
{
	text-decoration: none;
	color: white;
}

.content
{
border-style: solid;
color: white;
font-size: 30px;
background-color: Maroon;
	border-color: black;
	display: inline-block;
	margin-right: 300px;
	padding: 15px;
	margin-left: 10px;
	line-height: 40px;
	text-align: justify;
	width: 60%;
}
