body{
	background-color:WhiteSmoke;
}

ul{
	list-style-type: none;
	background-color: WhiteSmoke;
}

li
{
	text-align: left;
	font-family: "Times New Roman";
		font-size: 20px;
		padding: 5px;
		margin:2px;
		border-radius: 4px;
		border: 1px solid;
		background-color: WhiteSmoke;
}
.title1 {
font-style:oblique;
background-color:maroon;
text-align: center;
font-size: 50px;
color: white;

}
.title2{
	line-height: 100%;
	text-align: center;
	font-weight:bold;
	font-size: 400%;
	font-family: "Times New Roman";
	min-width: 100px;
	margin-bottom: 25px;
	color:white;
	background-color:maroon;
	
}

.Navigation{
	display: inline-block;
	width: 58%;
margin-left: 21%;
margin-right: 21%;
	/*position: fixed;*/
}



/*adds these styles to all buttons.*/
button{
text-align: center;
	font-family: "Times New Roman";
		font-size: 20px;
		padding: 5px;
		margin: 8px;
		border-radius: 4px;
}

a  /*adds styling to href's*/
{
	color:black;
	text-decoration: none;
}
button:hover .dropdown-content{
	display: block;
}



.dropdown-content {
    display: none;
    position: absolute;
}

.dropdown-content a {
	background-color: white;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


/*For the menu's on the left for the sub categories*/
#before-starting, #Electives, #co-op, #sem-a, #sem-b{
width: 100%;
	display: inline-block;
background-color: white;
border-radius: 2px;
border-style: solid;
text-align: left;
text-indent: 0px;

}

.title{
	border: 2px solid black;
	text-indent: 210px;
	font-family: "Times New Roman";
		font-size: 20px;
		padding: 5px;
		font-weight: bold;
}

#c11, #c21, #c31, #c41, #c12, #c22, #c32, #c42, #c13, #c23, #c33, #c43, #c14, #c24, #c34, #c44, #c15, #c25, #c35, #c45{
	border:2px solid black;
	margin: 2px;
}




