

<p style="font-size: 50px;color: white;margin-left: 633px;margin-bottom: 0px;padding: 0px;">&#8631;</p> 

<div id="images">

<ul>
<li><a href="https://www.facebook.com/fatima.taj.94"><span class="genericon genericon-facebook-alt"></span></a></li>
<li><a href="https://github.com/fat1996"><span class="genericon genericon-github"></span></a></li>
<li><a href="https://ca.linkedin.com/in/fatima-taj-37363a109"><span class="genericon genericon-linkedin"></span></a></li>
</ul>
</div>


<div id="text">

Copyright @ Fatima Taj 2016</div>

