<head>
	<link rel="stylesheet" type="text/css" href="Style for Updated Website Page.css">
</head>


<nav>
<ul id="nav-menu">
<li style="width: 250px;margin-left: 35px;"><a href="Under-construction.html" style="color: maroon;line-height: 45px;">Back to Homepage</a></li>

<li style="width: 250px;margin-left: 35px;color: maroon;line-height: 45px">Before you start ...
<ul class="sub-menu1">
<li style=""><a href="{{site.baseurl}}/BYS-UW Residence.html">UW Residence 101</a></li>
<li style=""><a href="{{site.baseurl}}/BYS-Social experience.html">The Social Experience</a></li>
<li style=""><a href="{{site.baseurl}}/BYS-Countdown to 1A.html">Countdown to 1A</a></li>
<li style=""><a href="{{site.baseurl}}/BYS-No acceptance syndrome.html">The 'I don't have an acceptance' Syndrome</a></li>
</ul>
</li>

<li style="width: 250px;margin-left: 35px;color: maroon;line-height: 45px;">Courses
<ul class="sub-menu1">
	<li>1A
<ul class="sub-menu21">
<li><a href="{{site.baseurl}}/_posts/2016-05-31-Math135.html">MATH 135</a></li>
<li><a href="{{site.baseurl}}/_posts/2016-05-31-Math137.html">MATH 137</a></li>
<li><a href="{{site.baseurl}}/_posts/2016-05-31-CS135.html">CS 135</a></li>
</ul>
	</li>

	<li style="font-family: Georgia, Times, "Times New Roman", serif;color: white;">1B
	<ul class="sub-menu21">
	<li><a href="{{site.baseurl}}/_posts/2016-05-31-Math136.html">MATH 136</a></li>
	<li><a href="{{site.baseurl}}/_posts/2016-05-31-MATH138.html">MATH 138</a></li>
	<li><a href="{{site.baseurl}}/_posts/2016-05-31-CS136.html">CS 136</a></li>
	</ul>
	</li>

	<li>Electives
	<ul class="sub-menu21">
		<li><a href="{{site.baseurl}}/_posts/2016-05-31-SPCOM223.html">SPCOM 223</a></li>
		<li><a href="{{site.baseurl}}/_posts/2016-05-31-PHYS111.html">PHYS 111</a></li>
		<li><a href="{{site.baseurl}}/_posts/2016-05-31-ECON101.html">ECON 101</a></li>
		<li><a href="{{site.baseurl}}/_posts/2016-05-31-MTHEL131.html">MTHEL 131</a></li>
	</ul>
	</li>
</ul>
</li>

<li style="width: 250px;margin-left: 35px;color: maroon;line-height: 45px;">Co-op
<ul class="sub-menu1">
<li><a href="{{site.baseurl}}/Coop-process">How it Works</a></li>
<li><a href="{{site.baseurl}}/Coop-resume">Fixing your Resume</a></li>
<li><a href="{{site.baseurl}}/Coop-interviews">Interviews</a></li>
<li><a href="{{site.baseurl}}/Coop-hacks">Last Minute Hacks</a></li>
</ul>
</li>

</nav>