

<nav>
<div class="handle">Menu&nbsp;&nbsp; <span style="font-size:15px;">&#x25BC;</span></div>


<ul class="navmenu">
<li style="background-color: WhiteSmoke;"><a href="Under-construction.html" style="background-color: WhiteSmoke;color: maroon;">Back to Homepage</a></li>

<li style="color: maroon;background-color: WhiteSmoke;"><a href="#" style="background-color: WhiteSmoke;color: maroon;">CS Starter Pack &nbsp;&nbsp;<span style="font-size:15px;">&#x25B6;</span></a>
<ul class="submenu1">
<li><a href="{{site.baseurl}}/BYS-UW Residence.html">UW Residence 101</a></li>
<li><a href="{{site.baseurl}}/BYS-Social experience.html">The Social Experience</a></li>
<li><a href="{{site.baseurl}}/BYS-Countdown to 1A.html">Countdown to 1A</a></li>
<li><a href="{{site.baseurl}}/BYS-No acceptance syndrome.html">The 'I don't have an acceptance' Syndrome</a></li>
</ul></li>

<li style="color: maroon;background-color: WhiteSmoke;"><a href="#" style="background-color: WhiteSmoke;color: maroon;">Courses &nbsp;<span style="font-size:15px;">&#x25B6;</span></a>
<ul class="submenu1">
	<li><a href="#">1A &nbsp;&nbsp;<span style="font-size:15px;">&#x25B6;</span></a>
<ul class="submenu21">
<li><a href="{{site.baseurl}}/_posts/2016-05-31-Math135.html">MATH 135</a></li>
<li><a href="{{site.baseurl}}/_posts/2016-05-31-Math137.html">MATH 137</a></li>
<li><a href="{{site.baseurl}}/_posts/2016-05-31-CS135.html">CS 135</a></li>
</ul>
	</li>

	<li><a href="#">1B &nbsp;&nbsp;<span style="font-size:15px;">&#x25B6;</span></a>
	<ul class="submenu21">
	<li><a href="{{site.baseurl}}/_posts/2016-05-31-Math136.html">MATH 136</a></li>
	<li><a href="{{site.baseurl}}/_posts/2016-05-31-MATH138.html">MATH 138</a></li>
	<li><a href="{{site.baseurl}}/_posts/2016-05-31-CS136.html">CS 136</a></li>
	</ul>
	</li>

	<li><a href="#">Electives <span style="font-size:15px;">&#x25B6;</span></a>
	<ul class="submenu21">
		<li><a href="{{site.baseurl}}/_posts/2016-05-31-SPCOM223.html">SPCOM 223</a></li>
		<li><a href="{{site.baseurl}}/_posts/2016-05-31-PHYS111.html">PHYS 111</a></li>
		<li><a href="{{site.baseurl}}/_posts/2016-05-31-ECON101.html">ECON 101</a></li>
		<li><a href="{{site.baseurl}}/_posts/2016-05-31-MTHEL131.html">MTHEL 131</a></li>
	</ul>
	</li>
</ul>
</li>

<li style="color: maroon;background-color: WhiteSmoke;"><a href="#" style="background-color: WhiteSmoke;color: maroon;">Co-op &nbsp;&nbsp;<span style="font-size:15px;">&#x25B6;</span></a>
<ul class="submenu1">
<li><a href="{{site.baseurl}}/Coop-process">How it Works</a></li>
<li><a href="{{site.baseurl}}/Coop-resume">Fixing your Resume</a></li>
<li><a href="{{site.baseurl}}/Coop-interviews">Interviews</a></li>
<li><a href="{{site.baseurl}}/Coop-hacks">Last Minute Hacks</a></li>
</ul></li></ul></nav>