<head>
	<link rel="stylesheet" type="text/css" href="style for sample nav bar.css">
</head>


<nav>
<ul id="nav-menu">
<li style="width: 250px;margin-left: 35px;"><a href="Website Main Page.html" style="color: maroon;line-height: 45px;">Back to Homepage</a></li>

<li style="width: 250px;margin-left: 35px;"><a href="{{site.baseurl}}/BYS-Intro.html" style="color: maroon;line-height: 45px">Before you start ...</a>
<ul class="sub-menu1">
<li style=""><a href="{{site.baseurl}}/BYS-UW Residence.html">UW Residence 101</a></li>
<li style=""><a href="{{site.baseurl}}/BYS-Social experience.html">The Social Experience</a></li>
<li style=""><a href="{{site.baseurl}}/BYS-Countdown to 1A.html">Countdown to 1A</a></li>
<li style=""><a href="{{site.baseurl}}/BYS-No acceptance syndrome.html">The 'I don't have an acceptance' Syndrome</a></li>
</ul>
</li>

<li style="width: 250px;margin-left: 35px;"><a href="{{site.baseurl}}/Courses.html" style="color: maroon;line-height: 45px">Courses</a>
<ul class="sub-menu1">
	<li>1A
<ul class="sub-menu21">
<li><a href="posts/Math135.html">MATH 135</a></li>
<li><a href="{{site.baseurl}}/Math137.html">MATH 137</a></li>
<li><a href="{{site.baseurl}}/CS135.html">CS 135</a></li>
</ul>
	</li>

	<li style="font-family: Georgia, Times, "Times New Roman", serif;color: white;">1B
	<ul class="sub-menu21">
	<li><a href="{{site.baseurl}}/Math136.html">MATH 136</a></li>
	<li><a href="{{site.baseurl}}/MATH138.html">MATH 138</a></li>
	<li><a href="{{site.baseurl}}/CS136.html">CS 136</a></li>
	</ul>
	</li>

	<li>Electives
	<ul class="sub-menu21">
		<li><a href="{{site.baseurl}}/SPCOM223.html">SPCOM 223</a></li>
		<li><a href="{{site.baseurl}}/PHYS111.html">PHYS 111</a></li>
		<li><a href="{{site.baseurl}}/ECON101.html">ECON 101</a></li>
		<li><a href="{{site.baseurl}}/MTHE131.html">MTHEL 131</a></li>
	</ul>
	</li>
</ul>
</li>

<li style="width: 250px;margin-left: 35px;"><a href="#" style="color: maroon;line-height: 45px">Co-op</a>
<ul class="sub-menu1">
<li><a href="{{site.baseurl}}/Coop-process">How it Works</a></li>
<li><a href="{{site.baseurl}}/Coop-resume">Fixing your Resume</a></li>
<li><a href="{{site.baseurl}}/Coop-interviews">Interviews</a></li>
<li><a href="{{site.baseurl}}/Coop-hacks">Last Minute Hacks</a></li>
</ul>
</li>

</nav>