---
layout: default
---

<head>
	<link rel="stylesheet" type="text/css" href="styling for submenus.css">
</head>

<!Co-op>

<div id="co-op">

<div class="title">Co-op</div>

<ul id="list-of-items">
<li><a href="Coop-process.html">Wrapping your head around the process</a></li>
<li><a href="Coop-resume.html">Preparing, Fixing, Refining(and repeating..) your Resume</a></li>
<li><a href="Coop-interviews.html">Interview</a></li>
<li><a href="Coop-hacks.html">Last minute hacks</a></li>
</ul>

<div id="content">

{{content}}
</div>

</div>


