<!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="Style for Updated Website Page.css">
<link rel="stylesheet" href="//brick.a.ssl.fastly.net/Linux+Libertine:400,400i,700,700i">

<div class="title-container">
<div class="title1">A 1st year Guide to Computer Science</div>
<div class="title2"><small>At the</small><br><b>University of Waterloo</br></b></div>
</div>


 <!This is a simple navigation bar. >
 {% include navbar.html %}

</head>

<body>

<div id="textbox">     {{content}}   </div>
	

<footer>
{% include footer.html %}
</footer>

</body>


</html>