<!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="Style for Updated Website Page.css">


<div class="title-container">
<div class="title1">A 1st year Guide to Computer Science</div>
<div class="title2"><small>At the</small><br><b>University of Waterloo</br></b></div>
</div>


 <!This is a simple navigation bar. >
 <div class="Navigation">

<button><a href="Website Main Page.html">Back to Homepage</a></button>

<button><a href="BYS-Intro.html">Before you start ...</a>
<div class="dropdown-content">
<a href="BYS-UW Residence.html">A Beginner's Guide to UW Residence</a>
<a href="BYS-Social experience.html">The Social Experience</a>
<a href="BYS-Countdown to 1A.html">Countdown to 1A</a>
<a href="BYS-No acceptance syndrome.html">The 'I don't have an acceptance' Syndrome</a>
</div>
</button>

<button><a href="Courses.html">Courses</a>
<div class="dropdown-content">
<a href="{{site.baseurl}}/Courses-1A.html">1A</a>
<a href="{{site.baseurl}}/Courses-1B.html">1B</a>
<a href="{{site.baseurl}}/Electives.html">Electives</a>
</div>
</button>

<button><a href="#">Co-op</a>
<div class="dropdown-content">
<a href="{{site.baseurl}}/Coop-process.html">How it works</a>
<a href="{{site.baseurl}}/Coop-resume.html">Fixing your resume</a>
<a href="{{site.baseurl}}/Coop-interviews.html">Interviews</a>
<a href="{{site.baseurl}}/Coop-hacks.html">Last Minute Hacks</a>
</div>
</button>

<button><a href="#Section4">Incase you're still curious ...</a></button>

<button><a href="#Section5" style="text-decoration:none">Contact me!</a></button>

</div>
</head>
<body>
	THIS IS THE DEFAULT LOOK OF ALL YOUR PAGES.
	{{content}}
</body>

</html>